body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;              /* makes left-right layout */
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  max-width: 1000px;
  margin: auto;
}

/* LEFT SIDE */
.text-section {
  width: 55%;
}

.text-section h1 {
  font-size: 36px;
}

.text-section p {
  font-size: 18px;
  line-height: 1.6;
}

/* RIGHT SIDE */
.image-section {
  width: 40%;
  text-align: right;
}

.image-section img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
}


